
/* HEADER */

header
{
	
	height : 160px;
	width : 1333px;
	background-color : black;
	border-radius : 15px;

	border : ridge black 2px;
	
}

.titre_header
{
	animation-duration :1s;
	animation-iteration-count : 1;
	-webkit-animation-fill-mode : forwards;
	animation-fill-mode : forwards;
	animation-name : titre_header;
	font-family : play;
	font-size : 32px;
	margin-left : 572px;
	margin-top : 73px;
	color : white;
	position : absolute;
}

@keyframes titre_header
{
	from {
      margin-left: 0%;
      
    }
    
    to {
      margin-left: 43%;  
    }
}


#rond1 {
width: 15px;
height: 15px;
border-radius: 15px;
background-color: rgb(49,140,231);
position: absolute;
margin-left: 657px;
margin-top: 61px;
border : solid white 1px;
}

#rond2 {
width: 15px;
height: 15px;
border-radius: 15px;
background-color: rgb(49,140,231);
position: absolute;
margin-left: 657px;
margin-top: 106px;
border : solid white 1px;
}

#rond3 {
width: 18px;
height: 18px;
border-radius: 15px;
background-color: rgb(243,63,146);
position: absolute;
margin-left: 636px;
margin-top: 46px;
border : solid white 1px;
}

#rond4 {
width: 21px;
height: 21px;
border-radius: 15px;
background-color: rgb(49,140,231);
position: absolute;
margin-left: 608px;
margin-top: 38px;
border : solid white 1px;
}

#rond5 {
width: 24px;
height: 24px;
border-radius: 15px;
background-color: #F33F92;
position: absolute;
margin-left: 579px;
border : solid white 1px;
margin-top: 49px;
}

#rond6 {
width: 18px;
height: 18px;
border-radius: 15px;
background-color: rgb(243,63,146);
position: absolute;
margin-left: 676px;
border : solid white 1px;
margin-top: 117px;
}


#rond7 {
width: 21px;
height: 21px;
border-radius: 15px;
background-color: rgb(49,140,231);
position: absolute;
margin-left: 699px;
margin-top: 124px;
border : solid white 1px;
}

#rond8 {
width: 24px;
height: 24px;
border-radius: 15px;
background-color: rgb(243,63,146);
position: absolute;
margin-left: 729px;
margin-top: 114px;
border : solid white 1px;
}

#titre_header_small
{
	display : none;
}

#boutton_insc_smartphone
{
	display : none;
}

#boutton_co_smartphone
{
	display : none;
}

#bloc_crea_grp_smart
{
	display : none;
}

#bloc_co_grp_smart
{
	display : none;
}

#div_fond
{
	position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}

#div_fond img {
  position: absolute; 
  top: 275px; 
  left: 206px; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

#titros
{
	font-family : play;
	font-size : 32px;
	margin-left : 572px;
	margin-top : 73px;
	color : white;
	position : absolute;
}

#a
{
	position :absolute;
	margin-left : 557px;
	margin-top : 39px;
}

#b
{
	position : absolute;
	margin-top : 107px;
	margin-left : 650px;
}


#bloc
{
	width : 500px;
	height : 430px;
	position : absolute;
	background-color : rgba(255,255,255,0.4);
	margin-left : 412px;
	margin-top : 211px;
	border : double black 1px;
	border-radius : 20px;
}

#photo_membre2
{
overflow: hidden;
border-radius: 60px;
width: 115px;
height: 115px;
box-shadow: -2px -1px 8px white;
}

#info
{
	width : 200px;
	font-family : riese;
	color : white;
	
}

#profil
{
	border: 1px solid #FFF;
padding: 10px;
border-radius: 12px;
}

#bloc_crea_grp
{
	background-color : rgba(22,45,115,0.7);
	border-radius : 20px;
	border : double black 1px;
	width : 200px;
	height : 344px;
	margin-left : 35px;
	margin-top : 30px;
	position : absolute;
	
}

#bloc_co_grp
{
	background-color : rgba(22,45,115,0.7);
	border-radius : 20px;
	border : double black 1px;
	width : 200px;
	height : 200px;
	margin-left : 264px;
	margin-top : 30px;
	
}

#titre_crea_grp
{
	font-family: play;
color: #FFF;
font-size: 25px;
margin-left: -2px;
margin-top: 0px;
border: solid black 1px;
border-radius: 20px;
padding: 6px 10px;
height: 35px;
width: 182px;
text-align : center;
background-color : rgba(10,24,64,0.6);
}

#boutton_creation_grp
{
	    margin-left: 66px;
    background-color: white;
    border-radius: 94px;
    width: 70px;
    height: 70px;
    font-size: 38px;
}

#saisie_insc_grp
{
	margin-left : 31px;
}

#boutton_submit_creation
{
margin-top: 12px;
margin-left: 63px;
font-family: play;
border-radius: 37px;
height: 78px;
border: 1px solid #000;
width: 75px;
}

#boutton_submit_creation:hover
{
	
    box-shadow: 0px 0px 10px white;
}

#sexe_memb
{
	width : 142px;
}

#amour_memb
{
	width : 142px;
}



#titre_co_grp
{
	font-family: play;
color: #FFF;
font-size: 25px;
margin-left: -2px;
margin-top: 0px;
border: solid black 1px;
border-radius: 20px;
padding: 6px 46px;
height: 35px;
width: 110px;
background-color: rgba(10,24,64,0.6);
}

#boutton_submit_conn
{
	margin-left: 59px;
margin-top: 37px;
font-family: play;
border-radius: 37px;
height: 74px;
border: 1px solid #000;
width: 78px;
}

#boutton_submit_conn:hover
{
	box-shadow: 0px 0px 10px white;
}


#dsc_teamfinder
{
	color: white;
position: absolute;
margin-top: 184px;
margin-left: 565px;
}

a:hover,a:focus
{
	background:rgba(0,0,0,.4); box-shadow:0 1px 0 rgba(255,255,255,.4); 
}

a span
{
position: absolute;
color: white;
background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.7);
padding: 15px;
border-radius: 20px;
box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
transform: scale(0) rotate(-12deg);
transition: all 1s ease 0s;
opacity: 0;
margin-left: 150px;
margin-top: -174px;
width: 237px;
}


a:hover span, a:focus span
{
 transform:scale(1) rotate(0);
 opacity:1;
}

#titre_bulle
{
border-radius: 20px;
background-color: rgba(10, 24, 63, 0.6);
color: #FFF;
width: 90px;
margin-top: -15px;
margin-left: -14px;
font-size: 15px;
padding: 16px 88px;
}


#titre_bulle2
{
border-radius: 20px;
background-color: rgba(10, 24, 63, 0.6);
color: #FFF;
width: 113px;
margin-top: 0px;
padding: 16px 77px;
margin-left: -14px;
font-size: 15px;
}

#photo_membre
{
	margin-left : 30px;
}

#box_info_memb
{
	width: 632px;
height: 500px;
background-color: rgba(255,255,255,0.4);
position: absolute;
border-radius: 20px;
margin-left: 314px;
margin-top: 190px;
border : solid black 1px;
height : 404px;
padding : 20px;
}

#box_age2
{
	width : 136px;
}

#consigne_prenom
{
    color: #FFF;
    padding: 0px 69px;
    font-family: play;
    font-size: 51px;
    margin-top: -1px;
    text-align: center;
    border: solid black 1px;
    border-radius: 15px;
    background-color: rgba(22, 5, 115, 0.6);
}

#box_info
{
	background-color: rgba(22, 5, 115, 0.6);
width: 148px;
height: 98px;
padding: 38px 25px;
margin-left: 124px;
border-radius: 20px;
border : solid black 1px;
margin-top: -23px;
}

#boutton_conf_creation
{
margin-top: 28px;
margin-left: 92px;
font-family: play;
border-radius: 37px;
height: 78px;
border: 1px solid #000;
width: 75px;
}

#boutton_conf_creation:hover
{
	
    box-shadow: 0px 0px 10px white;
}

#boutton_ajout_creation
{
margin-top: -77px;
border-radius: 58px;
font-size: 23px;
position: absolute;
width: 75px;
height: 78px;
margin-left: -20px;
border: solid black 1px;
}

#boutton_ajout_creation:hover
{
    box-shadow: 0px 0px 10px white;
}

#conf_ajout_membre
{
	position: absolute; 
	color: white; 
	border : solid black 1px; 
	padding: 8px 8px;
	border-radius : 20px;
text-align : center;	
	font-size: 15px;
	margin-left: -150px; 
	background-color : rgba(22, 5, 115, 0.6); 
	width : 425px;
	font-family : chrome;
	height : 49px;
}

#table_memb
{
	border-collapse : collapse;
	border-radius : 15px;
	margin-left: 52px;
	margin-top: 13px;
}


#table_memb td
{
	border : solid black 1px;
	padding: 5px;
	padding-left: 16px;
	font-family : play;
	color : white;
	background-color : rgba(22, 5, 115, 0.6); 
	font-size : 23px;
	padding-right : 84px;
	width : 50px;
}

caption
{
	font-size : 17px;
	border : solid black 1px;
	color : white;
	background-color : rgba(22, 5, 115, 0.6); 
	padding : 11px;
}

#boutton_conf_membre
{
	width: 333px;
margin-left: 50px;
height: 50px;
font-family: play;
font-size: 23px;
}

#boutton_conf_membre:hover
{
	
    box-shadow: 0px 0px 10px white;
}

.logo
{
	 opacity:0;
    -moz-animation: anim 1s linear forwards 7s;
	 -webkit-animation: anim 1s linear forwards 2s;
    -o-animation: anim 1s linear forwards 2s;
    -ms-animation: anim 1s linear forwards 2s;
    animation: anim 1s linear forwards 1s;
	/*animation-name : logo;*/
	margin-top : 20px;
	width : 120px;
	height : 40px;
	
}
@-moz-keyframes anim {
   0%  {opacity:0;}
   50% {opacity:0.8;}
   100% {opacity:1;}
}

@-webkit-keyframes anim {
   0%  {opacity:0;}
    50% {opacity:0.8;}
   100% {opacity:1;}
}
@-o-keyframes anim {
   0%  {opacity:0;}
    50% {opacity:0.8;}
   100% {opacity:1;}
}
@-ms-keyframes anim {
   0%  {opacity:0;}
    50% {opacity:0.8;}
   100% {opacity:1;}
}
@keyframes anim {
   0%  {opacity:0;}
    50% {opacity:0.8;}
   100% {opacity:1;}
}
#logo1
{
	margin-left : 561px;
	margin-top : 21px;
}

#logo2
{
	margin-left : 656px;
	margin-top : 24px;
	
}




/* POLICE */
@font-face {
    font-family: 'play';
    src: url('play.ttf');
}

@font-face {
    font-family: 'script';
    src: url('Brotherhood_Script.ttf');
}

@font-face {
    font-family: 'chrome';
    src: url('Chrome-Normal.ttf');
}

@font-face {
    font-family: 'riese';
    src: url('riesling.ttf');
}

/* PAGE INDEX */

#boutton_submit_index
{
	margin-left : 90px;
	margin-top : 10px;
	width : 130px;
	height : 50px;
}

#boutton_submit_index:hover
{
	background-color :  rgb(22,45,115);
	color : white;
	font-size : 20px;
}

#co_auto
{
	margin-top : 10px;
}

#link_insc
{
	color  : blue;
}

#text_conn
{
	font-family : play;
	font-size : 23px;
	text-align: center;
	color : white;
}

#img_back_co
{
	height : 350px;
	width :550px;
	position : relative;
	position : absolute;
	margin-left : 700px;
	margin-top : -70px;
	border-radius : 15px;
}

#div_index_co
{
	background-color : rgba(0,0,0,0.3);
	color : white;
	width : 300px;
	padding : 15px;
	border-radius : 10px;
	position : relative;
	margin-left : 805px;
	margin-top : -50px;
}

#form_co
{
	margin-top : 90px;
	font-family : play;
}
#confirm_co
{
	
	border : solid black 2px;
	border-radius : 10px;
	margin-left : 450px;
	margin-top : 50px;
	width : 140px;
	padding : 15px;
}
#div_co_mdp
{
	margin-left : 10px;
}


#text_acceuil
{
	list-style-type : none;
	position : absolute;
}

#enjoy
{
	font-family : script;
	font-size : 82px;
	position : relative;
	margin-top : -85px;
	margin-left : 160px;
	width : 320px;
}




/*.slogan
{
	
	animation-duration :2s;
	animation-iteration-count : 1;
	-webkit-animation-fill-mode : forwards;
	animation-fill-mode : forwards;
	animation-name : slogan;
	font-family: play;
	color : white;
	font-size : 40px;
	margin-top : -135px;
	position : relative;
	
}*/

#div_deco
{
	width : 200px;
	height : 50px;
	position : absolute;
	border : solid black 1px;
	border-radius : 10px;
	background-color : rgba(0,0,0,0.7);
	margin-top : -530px;
	margin-left : 570px;
}

/* CREATION GROUPES */

#boutton_crea_grp
{
	margin-left : 80px;
	margin-top : 10px;
	
	width : 130px;
	height : 50px;
}

#boutton_crea_grp:hover
{
	background-color :  rgb(22,45,115);
	color : white;
	font-size : 20px;
}

.titre_crea_grp
{
	animation-duration :2s;
	animation-iteration-count : 1;
	-webkit-animation-fill-mode : forwards;
	animation-fill-mode : forwards;
	animation-name : titre_crea_grp;
	font-family:script;
	color : white;
	font-size : 40px;
	margin-top : -533px;
	position : absolute;
}

@keyframes titre_crea_grp
{
	from {
      margin-left: 0%;
      
    }
    
    to {
      margin-left: 43%;  
    }
}


#text_h1
{
	font-size : 20px;
	margin-left : 50px;
}




@keyframes slogan
{
	from {
      margin-left: 0%;
      
    }
    
    to {
      margin-left: 14%;
	  
      
    }
	
	
}



/* MENU NAVIGATION */
ul#menu_horizontal li
 {
	transition-property : color;
	transition-duration : 3s;
	
	display : inline;
	padding : 0 0.5em; /* Pour espacer les boutons entre eux */
	border : solid black 1px;
	padding : 12px 5px;
	font-family : play;
	font-size : 23px;
	color : white;
	background-color : rgb(10,24,64);
	
}

#menu_horizontal li:hover
{
	font-size : 24px;
	background-color : rgb(22,45,115);
	
}

ul#menu_horizontal 
{
	list-style-type : none; /* Car sinon les puces se placent n'importe où */
	
}

#menu_horizontal
{
	margin-left : 255px;
	
}

#menu_horizontal a
{
	color : white;
	text-decoration : none;
}

/* PAGE INSCRIPTION */

#img_back_insc
{
	position : absolute;
	margin-left : 250px;
	width : 850px;
	height : 390px;
}

#formulaire
{
position : relative;
height : 350px;
	background-color : rgba(0, 0, 0, 0.7);
	border-radius : 15px;
	margin-top :30px;
	margin-left : 480px;
	color :white;
	width : 400px;
	padding-left : 50px;
	padding-top : 20px;
	font-family : script;
	font-size :42px;

}

.text_insc
{
	animation-duration :2s;
	animation-iteration-count : 1;
	-webkit-animation-fill-mode : forwards;
	animation-fill-mode : forwards;
	animation-name : text_insc;
	margin-top : -20px;
	font-size : 70px;
}

@keyframes text_insc
{
	from {
      margin-left: 0%;
      
    }
    
    to {
      margin-left: 25%;
	  
      
    }
	
	
}

#div_insc_pseudo
{
	margin-left : 45px;
	margin-top : -60px;
}


#div_insc_mdp
{
	margin-top : -15px;
	position : absolute;
}






/* PAGE NEXT_INSCRIPTION */

#boutton_submit_next
{
	margin-top : 20px;
	margin-left :590px;
	width : 130px;
	height : 50px;
}


#boutton_submit_next:hover
{
	background-color :  rgb(22,45,115);
	color : white;
	font-size : 20px;
}

#text_info_prof
{
	text_align : center;
	font-family : play;
	font-size : 20px;
	color : white;
	margin-left : 65px;
	margin-top : -150px;
}

#info_supp
{

margin-left : 500px;
margin-top : -20px;
color : white;
width : 300px;
height : 340px;
	padding : 25px ;
	padding-left : 20px;
	background-color : rgba(0,0,0,0.7);
	border-radius : 15px;
	font-family : script;
	font-size : 40px;
}

#div_insc_mail
{
	
	margin-left : 25px;
}

#div_insc_age
{
	margin-top : 0px;
	margin-left : 55px;
}

#box_age
{
	width : 30px;
}

#div_insc_ville
{
	margin-top : 0px;
	margin-left : 55px;
}

#div_insc_sexe
{
	margin-top : 0px;
	margin-left : 55px;
}
#div_insc_amour
{
	margin-top : 0px;
	margin-left : 30px;
}

#div_insc_locom
{
	margin-top : 0px;
	margin-left : 8px;
}

#div_photo_prof
{
	margin-left :500px;
	color : white;
	font-family : script;
	font-size : 40px;
	
	width : 600px;
}

#text_photo
{
	
	border : solid black 1px;
	background-color : rgba(0,0,0,0.7);
	border-radius : 15px;
	width : 150px;
}

#boutton_submit
{
	margin-left : 105px;
	margin-top : 10px;
	
	width : 130px;
	height : 50px;
}

#boutton_submit:hover
{
	background-color :  rgb(22,45,115);
	color : white;
	font-size : 20px;
}





#img_back_memb
{
	margin-left : 150px;
	position : relative;
}

#affichage_photo
{
	width : 50px;
	height : 80px;
	margin-left : 630px;
	margin-top : 30px;
	position : absolute;
	border : ridge brown 2px;
	border-radius : 10px;
}

#img_crea_grp
{
	margin-left : 270px;
	position : relative;
}

#nom_crea_grp
{
	margin-left : 35px;
}

#devise_grp
{
	margin-left : 21px;
}
#form_crea_grp
{
	position : absolute;
	margin-top : -370px;
	margin-left : 450px;
	border : solid black 1px;
	border-radius : 10px;
	background-color : rgba(0,0,0,0.7);
	color : white;
	font-family :script;
	font-size : 30px;
	padding : 10px;
}

#nb_pers_grp
{
	margin-left : 17px;
}
#explic_grp
{
	border : solid black 1px;
	border-radius : 10px;
	padding : 10px;
	background-color : rgba(0,0,0,0.7);
	color : white;
	width : 360px;
	position : absolute;
	margin-top : -450px;
	margin-left : 300px;
}

#text_crea_grp
{
	text-decoration : none;
	font-family : play;
	border : solid black 1px;
	border-radius : 10px;
	padding : 8px;
	background-color : rgba(0,0,0,0.7);
	color : white;
	position : absolute;
	margin-left : -447px;
	margin-top : 180px;
	
}

#text_crea_grp:hover
{
	background-color :  rgba(22,45,115,0.7);
	border : solid turquoise 1px;
}

#text_rej_grp
{
	text-decoration : none;
	font-family : play;
	border : solid black 1px;
	border-radius : 10px;
	padding : 8px;
	background-color : rgba(0,0,0,0.7);
	color : white;
	position : absolute;
	margin-left : -327px;
	margin-top : 180px;
}

#text_rej_grp:hover
{
	background-color :  rgba(22,45,115,0.7);
	border : solid turquoise 1px;
}

#back_next_insc
{
	position : absolute;
	margin-left : 230px;
	margin-top : 5px;
	width : 930px;
	height : 560px;
}

#img_memb_conf
{
	margin-left : 220px;
}

#form_next_insc
{
	margin-top : 50px;
	margin-bottom : 100px;
	position: relative;
	width : 250px;
}


#titre_next_insc
{
	margin-left : 310px;
	font-size : 25px;
	position :relative;
	color : white;
	margin-top : 30px;
}

#text_groupe
{
	font-size : 20px;
margin-left : 15px;	
font-family : play;
}

#box_groupe
{
	margin-left : 50px;
	
}

#box_nb_pers
{
	margin-top : -25px;
	margin-left : 50px;
}

#div_insc_groupe
{
	margin-left : 380px;
	border :solid black 1px;
	padding : 15px;
	border-radius : 10px;
	background-color : rgba(0,0,0,0.5);
	position : absolute;
	color : white;
	width : 250px;
}

#div_rejoin_grp
{
	position : relative;
	margin-left : 680px;
	color : white;
	width : 265px;
	padding : 15px;
	border : solid black 1px;
	border-radius : 10px;
	background-color : rgba(0,0,0,0.5);
	margin-top : 50px;
}

/* PAGE MEMBRE_CONF */

/*#memb_conf_grp
{
	border : solid black 1px;
	border-radius : 10px;
	background-color : rgba(0,0,0,0.7);
	width :320px;
	padding : 15px;
	height : 200px;
	position : absolute;
	margin-left : 330px;
	margin-top : -550px;
}*/

#txt_grp_memb
{
margin-left : 330px;
	margin-top : -550px;
	position : absolute;
	color : white ;
	font-family : script;
	font-size : 50px;
	text-align : center;
	margin-top : -10px;
	border : solid black 1 px;
	border-radius : 10px;
	background-color : rgba(22,45,115,0.5);
}










footer
{
	height : 200px;
	width : 1333px;
	background-color : black;
	margin-top : 20px;
	border-radius : 15px;
}
